#css?family=Maven+Pro
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/mavenpro_v36/7Auup_AqnyWWAxW2Wk3swUz56MS91Eww8SX21nejpw.ttf) format('truetype');
}
